<div class="container">

  <div class="header">
    <h1>Restart</h1>
    <div>Please wait warmly.</div>
  </div>

  <div class="content">
    <div>Expect to wait up to 20 seconds for the <i>app</i> to hopefully restart.</div>
    <%= link_to "I think it has finished restarting", :root %>
  </div>
</div>
