<div class="container">

  <div class="header">
    <h1>Songs</h1>

    <%= link_to 'New', new_song_path %>

    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Artist</th>
        <th>Title</th>
        <th style="text-align: right">File size (B)</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @songs.each do |song| %>
        <%= render song %>
      <% end %>
    </tbody>
  </table>

  <%= paginate @songs %>

  <br>
</div>
