/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import 'variables';
@import 'mixins';
@import 'radio';
@import 'main';
@import 'songs';

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);
/* Importing both fonts leads to ridiculous page sizes */
/*@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);*/

html {
	background-color: $color-background;
	margin: 0;
	padding: 0;
}

body {
	background-color: transparent;
	font-size:62.5%;
	color: #DDD;
	min-height: 100vh;
	margin: 0;
}
