body {
  color: #333;
  font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans SC', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'ST Heiti', FangSong, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

p, ol, ul, td, a, th {
  font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans SC', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'ST Heiti', FangSong, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:visited {
    color: $color-blue;
  }

  &:hover {
    color: $color-flair;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 5rem;
  padding: 3.2rem 0 2.6rem 0;
}

h2 {
  font-size: 2.8rem;
  padding: 2.6rem 0 1.2rem 0;
}

h3 {
 font-size: 1.6rem;
 font-style: italic;
}

input[type=text], input[type=password] {
  font-size: 1.6rem;
  min-height: 3.2rem;
  color: #ddd;
  background-color: transparent;
  border-width: 0px 0px 1px;
  border-style: none none solid;
  border-color: -moz-use-text-color -moz-use-text-color #ddd;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  outline: none;
  transition: border-color 0.1s;

  &:focus {
    border-color: $color-flair;
  }
}

button, input[type="submit"] {
  @include clickable;
  min-height: 4rem;
}

input[type="file"] {
  @include clickable;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: $container-max-width;
  background-color: $color-card-background;
  margin: 0 auto 5rem auto;
  padding: 0 0 4.8rem 0;
  border-top: 4.8rem solid $color-background;

  .header, .content, form, table {
    min-width: 85%;
    margin: 1.5rem 0 0 0;
  }

  .header a {
    margin: 0 0.4rem 0 0;
  }

  table {
    max-width: 85%;
  }

  td {
    vertical-align: top;
  }

  form {
    #error_explanation {
      border-left: 2.4rem solid $color-red;
      margin: 0 0 2rem 0;
    }

    .field_with_errors {
      display: flex;
      background-color: $color-red;

      input[type="text"], input[type="password"] {
        width: 100%;
      }
    }

    label {
      font-size: 1.6rem;
      margin: 1.6rem 0 0.5rem 0;
    }

    .fields {
      display: flex;
      flex-direction: column;

      input[type="file"] {
        flex: 1;
      }
    }

    .actions {
      margin: 1.6rem 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    min-width: 85%;
  }
}

#notice, #error_explanation {
  background-color: $color-card-background-lighter;
  color: $color-white;
  padding: 1.6rem;
}

#notice {
  border-left: 2.4rem solid $color-green;
}

table {
  border-collapse: collapse;

  .controls {
    display: flex;
    align-items: center;
  }

  .numeric {
    text-align: right;
    font-family: monospace;
  }

  thead, th {
    border-bottom: solid 1px $color-white;
  }

  th {
    text-align: left;
    font-variant: small-caps;
    padding: 0.8rem 0;
  }
}

table.vertical {
  td:first-child {
    text-align: right;
    padding-right: 1.6rem;
    width: 20%;
  }

  td {
    vertical-align: top;
    word-break: break-all;
  }
}

.image-set {
  width: 95%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9.6rem;
}

.pagination {
  margin-top: 1.6rem;
  font-size: 1.6rem;

  .first, .prev, .next, .last {
    a {
      @include clickable-link;
      color: $color-white;

      &:hover {
        color: $color-flair;
      }
    }
  }

  a {
    padding: 0.8rem;
    text-decoration: none;
  }

  .page a, .current {
    padding: 1.6rem;
  }

  .current {
    color: $color-flair;
  }
}
