@mixin clickable {
  @include clickable-style;
  // Inconsistent button heights

  &:hover:enabled {
    color: $color-flair !important;
    background-color: $button-highlight-color;
    cursor: pointer;
  };

  &:disabled {
    color: #555 !important;
    border: solid 1px #444 !important;
  };
}

@mixin clickable-link {
  @include clickable-style;

  &:hover {
    color: $color-flair !important;
    background-color: $button-highlight-color;
    cursor: pointer;
  };
}

@mixin clickable-style {
  text-align: center;
  padding: 0.8rem;
  border: solid 1px #666;
  color: #DDD !important;
  font-size: 1.6rem;
  background: transparent;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
