// Place all the styles related to the radio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$button-highlight-color: #111;
$flair-color: #CC6961;

div[data-react-class="Radio"] {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

h1 {
	text-align: center;
	padding: 3rem 0;
	margin: 0;
}

@mixin clickable {
	text-align: center;
	padding: 0.5rem;
	border: solid 1px #666;
	color: #DDD !important;
	font-size: 1rem;
	background: transparent;

	&:hover:enabled {
		color: $flair-color !important;
		background-color: $button-highlight-color;
		cursor: pointer;
	};

	&:disabled {
		color: #555 !important;
		border: solid 1px #444 !important;
	};
}

button {
	@include clickable;
}

.radio {
	display: flex;
	flex-direction: column;
	max-width: 60rem;
	flex: 1;
}

.radio > div {
	padding: 1rem 2rem;
	margin: 1rem;
	background-color: #3C3C3C;
}

.queue-history {
	display: flex;
	flex-direction: row;
	margin: 2rem 0;
	font-size: 1rem;

	.queue, .history {
		align-items: center;
		flex: 1;
		text-align: center;
	}
}

.song-library {
	display: flex;
	flex-direction: column;

	.tabs {
		margin: 0 0 1rem 0;
	}
}

.song-searcher {
	display: flex;
	flex-direction: column;
}

input {
	font-size: 1rem;
	color: #ddd;
	background-color: transparent;
	border-width: 0px 0px 1px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color #ddd;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	outline: none;
	transition: border-color 0.1s;

	&:focus {
		border-color: $flair-color;
	}
}

.tabs {
	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li {
		flex: 1;
		@include clickable;

		&:hover {
			color: $flair-color !important;
			background-color: $button-highlight-color;
			cursor: pointer;
		};
	}
}

.radio-player {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.now-playing {
	display: flex;
	flex-direction: column;
	line-height: 2.4rem;
	margin: 2rem 0 1rem 0;
	align-items: center;

	.title {
		font-size: 2.0rem;
		text-align: center;
	}

	.artist {
		font-size: 1.4rem;
	}
}

.audio-player {
	margin: 1rem;
}

.song-list {
	width: 100%;
}

.song-list-row {
	display: flex;

	td {
		display: flex;
		align-items: center;
		/*justify-content: center;*/
	}

	.artist {
		flex: 2;
	}

	.title {
		flex: 2;
	}
}

.song-browser {
	.paginator {
		display: flex;
		width: 100%;
		justify-content: center;
		margin: 1rem 0 0 0;

		button, div {
			display: flex;
			margin: 0 2rem;
		}

		.page-info {
			font-size: 1rem;
			align-items: center;
		}
	}
}

.player-debug-section {
	display: flex;
	flex-direction: column;

	.player-debug-controls {
		display: flex;
		flex-direction: row;

		input {
			flex: 8;
			margin: 0 1rem 0 0;
		}
	}
}
