$magic-width: 85%;

$button-highlight-color: #111;
$container-max-width: 60rem;

$color-background: #2F2F2F;
$color-card-background: #3C3C3C;
$color-card-background-lighter: #5A5A5A;
$color-flair: #CC6961;

$color-green: #56E25A;
$color-red: #CC6961;
$color-white: white;
$color-blue: #7BA0F7;
$color-purple: #B86AFC;
